* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #fff;
}

body {
  background-color: #202124;
}

/* Header */
header {
  border-bottom: 1px solid #ccc;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#search-input {
  background-color: #525356;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #ddd;
  width: 400px;
}

#search-input::placeholder {
  color: #ddd;
}

#export-notes {
  background-color: #333;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.4s;
}

#export-notes:hover {
  background-color: #fff;
  color: #333;
}

/* Div de criar nota */
#add-note-container {
  display: flex;
  width: 400px;
  margin: 1rem auto 0;
  gap: 1rem;
}

#add-note-container input,
#add-note-container button {
  padding: 10px;
  border-radius: 5px;
}

#add-note-container input {
  flex: 1;
  background-color: transparent;
  border: 1px solid #525356;
}

#add-note-container button {
  background-color: #333;
  border: 1px solid #525356;
  cursor: pointer;
  transition: 0.4s;
}

#add-note-container button:hover {
  background-color: transparent;
}

/* Div de notas criadas */
#notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
}

.note {
  min-height: 200px;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #202124;
  border-radius: 10px;
  position: relative;
}

.note textarea {
  background-color: transparent;
  resize: none;
  border: none;
  height: 100%;
  outline: none;
}

.note .bi-pin {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.1rem;
  background-color: #333;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.note .bi-pin:hover {
  border: 1px solid #ccc;
}

.note:hover > i {
  opacity: 1;
}

.note .bi-x-lg,
.note .bi-file-earmark-plus {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.9rem;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
  color: #555;
  opacity: 0;
}

.note .bi-file-earmark-plus {
  top: 40px;
}

.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
  color: #fff;
}

.note.fixed {
  background-color: #3c3c3c;
}

.note.fixed .bi-pin {
  border: 1px solid #ccc;
}

/* Responsividade */
@media (max-width: 700px) {
  header {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  #search-container {
    width: 100%;
  }

  #search-input {
    width: 100%;
  }
}
@media (max-width: 620px) {
  #add-note-container {
    width: 100%;
    padding: 0 2rem;
  }

  #notes-container {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
